.contacts {
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  background-image: url("../../img/bg-map-mobile@1x.png");
  min-height: 645px;
}

.contacts__wrapper {
  background-color: #ffffff;
}

.contacts__question {
  margin-bottom: 38px;
}

.contacts__list {
  list-style: none;
  padding: 0;
  min-height: 395px;
}

.contacts__item {
  margin-bottom: 28px;
}

.contacts__item h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 14px;
}

.contacts__item a {
  text-decoration: none;
  color: #d22856;
}
