.photo-card {
  background-color: #f2f2f2;
  width: 280px;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
}

.photo-card__comment {
  padding: 25px 20px 0 17px;
  margin: 0;
}

.photo-card__comment-name {
  font-weight: 700;
  font-style: normal;
}

.photo-card__comment-name span {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.photo-card__comment-like {
  font-size: 12px;
  color: #d22856;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 49px;
  margin-bottom: 30px;
}

.photo-card--panorama {
  width: 100%;
  background-color: #ffffff;
}

.photo-card__photo--panorama {
  width: 100%;
}

.photo-card__wrapper {
  background-color: #f2f2f2;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: @tablet-width) {
  .photo-card__wrapper {
    width: 620px;
  }
}

@media (min-width: @desktop-width) {
  .photo-card__wrapper {
    width: 940px;
  }
}
