.photo-post {
  width: 320px;
  box-sizing: border-box;
  padding: 20px 20px 41px 20px;
  background-color: #f2f2f2;
  margin-left: auto;
  margin-right: auto;
}

.photo-post__filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  margin-left: 27px;
  margin-top: 12px;
}

.photo-post__filters p {
  position: relative;
}

.photo-post__filter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  width: 60px;
  height: 60px;
}

.photo-post__filter svg {
  fill: #b5b9be;
}


.photo-post__change {
  display: none;
}

.photo-post__change--active {
  display: block;
  position: absolute;
  top: 77px;
  left: -13px;
  width: 240px;
}

.photo-post__buttons {
  margin-top: 89px;
}

.photo-post__post {
  display: block;
  width: 280px;
  height: 55px;
  padding: 17px;
  box-sizing: border-box;

  color: #d22856;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  border: 3px solid;
  border-radius: 30px;

  margin-bottom: 12px;
}

.photo-post__cancel {
  display: block;
  width: 280px;
  height: 55px;
  padding: 17px;
  box-sizing: border-box;

  color: #283645;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  border: 3px solid;
  border-radius: 30px;
  opacity: 0.1;
}


@media (min-width: @tablet-width) {
  .photo-post {
    width: 660px;
    padding: 57px 20px 50px 20px;
  }

  .photo-post__development {
    display: flex;
    justify-content: space-between;
  }

  .photo-post__wrapper {
    display: flex;
    flex-direction: column;
    width: 275px;
  }

  .photo-post__filters {
    flex-direction: column;
    width: 275px;
    height: 216px;
    margin-top: -1px;
    margin-left: -10px;
  }

  .photo-post__filters p {
    display: flex;
    justify-content: space-between;
    width: 265px;
    margin: 0;
    margin-bottom: 27px;
  }

  .photo-post__filter {
    width: 45px;
    height: 45px;
    margin-left: -2px;
  }

  .photo-post__filter--crop {
    width: 22px;
    height: 22px;
  }

  .photo-post__filter--fill {
    width: 22px;
    height: 24px;
  }

  .photo-post__filter--contrast {
    width: 16px;
    height: 16px;
  }

  .photo-post__change--active {
    top: 9px;
    left: 55px;
  }

  .photo-post__change {
    display: block;
    width: 202px;
  }

  .photo-post__buttons {
    margin-top: 40px;
  }

  .photo-post__post {
    width: 260px;
    margin-top: 10px;
    margin-bottom: 24px;
  }

  .photo-post__cancel {
    width: 260px;
  }
}

@media (min-width: @desktop-width) {
  .photo-post {
    width: 940px;
    padding: 57px 60px 57px 80px;
    margin-bottom: 22px;
  }

  .photo-post__development {
    display: flex;
    justify-content: space-between;
  }

  .photo-post__wrapper {
    width: 415px;
  }

  .photo-post__filters {
    width: 415px;
    margin-top: -25px;
  }

  .photo-post__filters p {
    width: 415px;
    height: 70px;
  }

  .photo-post__filter {
    width: 60px;
    height: 60px;
  }

  .photo-post__filter--crop {
    width: 44px;
    height: 44px;
  }

  .photo-post__filter--fill {
    width: 48px;
    height: 43px;
  }

  .photo-post__filter--contrast {
    width: 32px;
    height: 32px;
  }

  .photo-post__change {
    width: 288px;
  }

  .photo-post__post {
    width: 183px;
    margin: 0;
  }

  .photo-post__cancel {
    width: 183px;
  }

  .photo-post__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 146px;
  }
}
