.reviews {
  margin: 0;
  padding-top: 50px;
}

.reviews__list {
  list-style: none;
  text-align: center;
  padding: 0;
}

.reviews__item blockquote {
  margin-left: auto;
  margin-right: auto;
}

.reviews__item cite {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.reviews__item p {
  font-size: 14px;
  line-height: 30px;
}
